<div class="row">
    <div class="col-12">
        <br>
        <br>
        <div class="card card-user">
            <div class="card-header"><h5 class="card-title">Task info</h5></div>
            <div class="card-body" *ngIf="!isError">
                <form>
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Tên task</label>
                                <textarea type="text" class="form-control" readonly [value]="task.title"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Deadline -->
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Hết hạn ngày</label>
                                <input readonly type="text" class="form-control" [value]="task.deadline | date:'dd/MM/yyyy'">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>vào lúc</label>
                                <input readonly type="text" class="form-control" [value]="task.deadline | date:'HH:mm'">
                            </div>
                        </div>
                    </div>
                    <!-- Creator -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Người giao</label>
                                <input type="text" class="form-control" readonly [value]="task.creator.userName">
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nội dung</label>
                            <div [innerHTML]="task.content"></div>
                        </div>
                    </div>
                    <!-- Accept or Deny task -->
                    <div *ngIf="!notAllowedToResponse" class="row">
                        <div class="update ml-auto mr-auto">
                            <button [disabled]="!loaded" class="btn btn-primary btn-round" (click)="accept()">Chấp nhận</button>
                            <button [disabled]="!loaded" class="btn btn-round btn-danger" (click)="deny()">Từ chối task</button>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="isError" class="card-body text-center text-muted">
                <p class="h2 text-danger"><i class="fas fa-exclamation-circle"></i></p>
                <p class="mb-0 text-danger h6">Không tìm thấy task. Có thể task đã bị xóa hoặc được chuyển cho người khác</p>
            </div>
        </div>
    </div>
</div>
