<div class="wrapper">
    <div class="documentation page-header page-header-small" id="landing-wrapper">
        <div class="filter"></div>
        <div class="motto">
            <br>
            <h4 class="title-uppercase text-center">Thống kê</h4>
            <br>
            <h5 class="page-description text-center">Trang hiển thị các số liệu thống kê về trang web</h5>
            <br>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <h2>{{title}}</h2>
                <br> 
                <div class="row tim-row">
                    <!-- Pick mode -->
                    <div class="col-md-2 col-sm-12">
                        <div ngbDropdown class="d-inline-block btn-block">
                            <button class="btn btn-block form-control dropdown-text" [disabled]="loading" id="dropdownMenu1" ngbDropdownToggle>Loại thống kê</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                                <button (click)="chooseMode(1)" class="dropdown-item">Đánh giá phim</button>
                                <button (click)="chooseMode(2)" class="dropdown-item">Vé phim</button>
                                <button (click)="chooseMode(3)" class="dropdown-item">Loại bài viết</button>
                                <button (click)="chooseMode(4)" class="dropdown-item">Chủ đề bài viết</button>
                            </div>
                        </div>
                    </div>  
                    
                    <!-- Table -->
                    <div class="col-md-10 col-sm-12" id="overlap">
                        <div class="d-block d-md-none"><br></div>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="table" class="table table-striped table-hover table-responsive-lg">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">{{column1}}</th>
                                    <th class="text-center" scope="col">{{column2}}</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor='let a of tableData'>
                                    <td><p class="cut-text">{{a.name}}</p></td>
                                    <td>
                                        <p class="text-center">{{a.count | number}}</p>
                                        <!-- <p *ngIf="a.count == undefined" class="text-center">{{a.views | number}}</p> -->
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    
            </div>       
        </div>
    </div>
</div>
