// .navbar.navbar-transparent .nav-item .nav-link:not(.btn) {
//     color: #66615b !important;
// }
// .navbar.navbar-transparent {
//     background-color: transparent!important;
//     box-shadow: none;
//     border-bottom: 1px solid #ddd;
// }
@import '../../../assets/sass/paper-dashboard.scss';
.avatar-sm {
	width: 2.3rem !important;
	height: 2.3rem !important;
	font-size: .83333rem;
}
.avatar {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	font-size: 1rem;
}
.avatar-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
@media screen and (max-width: 991px)
{
	.navbar-collapse.writer
	{
		display: flex!important;
		flex-basis: auto !important;
	}
}

.navbar-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.notification .badge{
    padding: 3px 5px 2px;
    position: absolute;
    //top: 8px;
    right: 5px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.notification.dropdown-toggle::after {
	content: none !important;
}
.dropdown-menu-xl {
    min-width: 420px;
    border-radius: .4375rem;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}
.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.navbar .navbar-nav .nav-item .nav-link
{
    margin: 0px;
}
.navbar-nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

// Dropdown
@media screen and (max-width: 991px)
{
    .dropdown.show .dropdown-menu {
        display: block;
    }
    .dropdown.show .dropdown-menu, .dropdown .dropdown-menu {
        background-color: white;
        border: 0;
        transition: none;
        box-shadow: none;
        width: auto;
        height: auto;
        position: absolute !important;
        overflow-y: auto;
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 575.98px)
{
    @media screen and (max-width: 991px)
    {
        .navbar .navbar-nav .nav-item:not(:last-child) {
            position: static;
        }
    }

    .dropdown-menu-xl {
        position: absolute;
        width: 90% !important;
        min-width: auto !important;
        left: 3% !important;
        right: auto;
    }
}

.dropdown-menu-xl p 
{
    font-size: 15px;
}